*{
  font-family: 'Poppins', sans-serif;
}

header {
    
    background-size: cover;
    color: white;
}
.hero {
  background: linear-gradient(to right, #00000050, #00000050), url('./assets/hero.jfif');
  background-position: center;
  height: 84.3vh;
}

.hero-about {
    background: linear-gradient(to right, #00000050, #00000050), url('/public/image/bedroom.jfif');
    background-position: left;
    height: 40vh;
}

.hero-contact {
  background: linear-gradient(to right, #00000050, #00000050), url('/public/image/office.jfif');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}

.hero-serv {
  background: linear-gradient(to right, #00000050, #00000050), url('/public/image/dinig.jfif');
  background-size: cover;
  background-position: center;
  height: 50vh;
}